h1{
    text-align: center;
}
.container{
    width: 300px;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 70px;

}

.container div {
    color: black;
    border-bottom: 2px solid darkgrey;
    border-right: 2px solid darkgrey;
    width: 98px;
    height: 98px;
    cursor: pointer;
}

.container div:hover{
    background-color: #efefef;
}

.container div[c="2"]{
    border-right: none;
}
.container div[l="2"]{
    border-bottom: none;
}

button{
    display: block;
    min-width: 100px;
    margin: 0 auto;
}